node-red/flows/flows.json
[{"id":"6d6426b.52961d8","type":"tab","label":"Demo JaCaMo / Node-RED","disabled":false,"info":""},{"id":"196baabf.4631e5","type":"subflow","name":"general settings","info":"","category":"","in":[{"x":130,"y":160,"wires":[{"id":"9ffbec41.d8339"}]}],"out":[],"env":[{"name":"host_nodered","type":"str","value":"http://nodered"},{"name":"port_nodered","type":"str","value":"1880"},{"name":"host_alice","type":"str","value":"http://alice"},{"name":"port_alice","type":"str","value":"8080"},{"name":"host_bob","type":"str","value":"http://bob"},{"name":"port_bob","type":"str","value":"8081"}],"color":"#DDAA99"},{"id":"7d5786c9.7bf498","type":"mqtt-broker","z":"","name":"","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"cfa86466.f831c8","type":"function","z":"196baabf.4631e5","name":"start","func":"msg.method = 'POST';\n\n// msg.url = `${msg.originAlice}/agents/alice/inbox`;\nmsg.url = `${global.get(\"originAlice\")}/agents/alice/inbox`;\n\nmsg.payload = `{ \\\"sender\\\": \\\"node_red\\\", \\\"receiver\\\": \\\"alice\\\", \\\"performative\\\": \\\"achieve\\\", \\\"content\\\": \\\"start\\\", \\\"msgId\\\": \\\"13\\\"}`;\nmsg.headers = {};\nmsg.headers['content-type'] = 'application/json';\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1090,"y":120,"wires":[["a4552192.3e28f"]]},{"id":"a4552192.3e28f","type":"http request","z":"196baabf.4631e5","name":"acl","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":1230,"y":120,"wires":[["7b74ce21.98073"]]},{"id":"7b74ce21.98073","type":"switch","z":"196baabf.4631e5","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"neq","v":"200","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1370,"y":120,"wires":[["7b925749.ec1c88"]]},{"id":"7b925749.ec1c88","type":"debug","z":"196baabf.4631e5","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1510,"y":120,"wires":[]},{"id":"f60e3bed.db3798","type":"http request","z":"196baabf.4631e5","name":"dummy ag","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":790,"y":120,"wires":[["22f32dd0.aa8082"]]},{"id":"331bcd7d.dcb282","type":"function","z":"196baabf.4631e5","name":"dummy ag","func":"msg.method = 'POST';\n\n// msg.url = `${msg.originAlice}/agents/mqtt?only_wp=true`;\nmsg.url = `${global.get(\"originAlice\")}/agents/mqtt?only_wp=true`;\n\n// msg.payload = `{\\\"uri\\\":\\\"${msg.originNodered}/mqtt\\\"}`;\nmsg.payload = `{\\\"uri\\\":\\\"${global.get(\"originNodered\")}/mqtt\\\"}`;\n\nmsg.headers = {};\nmsg.headers['content-type'] = 'application/json';\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":610,"y":120,"wires":[["f60e3bed.db3798"]]},{"id":"22f32dd0.aa8082","type":"switch","z":"196baabf.4631e5","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"neq","v":"201","vt":"str"},{"t":"eq","v":"201","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":950,"y":120,"wires":[["7f47851b.0c97dc"],["cfa86466.f831c8"]]},{"id":"7f47851b.0c97dc","type":"debug","z":"196baabf.4631e5","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":950,"y":60,"wires":[]},{"id":"9a29fc53.beede","type":"http request","z":"196baabf.4631e5","name":"dummy art","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":790,"y":200,"wires":[["2695fab1.34a906"]]},{"id":"e491a604.1aca08","type":"function","z":"196baabf.4631e5","name":"dummy art","func":"msg.method = 'POST';\n\n// msg.url = `${msg.originBob}/workspaces/main/artifacts/mqtt`;\nmsg.url = `${global.get(\"originBob\")}/workspaces/main/artifacts/mqtt`;\n\nmsg.payload = `{\\\"template\\\":\\\"jacamo.rest.util.DummyArt\\\", \\\"values\\\":[]}`;\nmsg.headers = {};\nmsg.headers['content-type'] = 'application/json';\nreturn msg\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":610,"y":200,"wires":[["9a29fc53.beede"]]},{"id":"2695fab1.34a906","type":"switch","z":"196baabf.4631e5","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"201","vt":"str"},{"t":"neq","v":"201","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":950,"y":200,"wires":[["dcd88f77.e4da4"],["99d25eb8.12f3b"]]},{"id":"99d25eb8.12f3b","type":"debug","z":"196baabf.4631e5","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":950,"y":260,"wires":[]},{"id":"9ffbec41.d8339","type":"function","z":"196baabf.4631e5","name":"","func":"global.set(\"originBob\", `${env.get('host_bob')}:${env.get('port_bob')}`);\nglobal.set(\"originAlice\", `${env.get('host_alice')}:${env.get('port_alice')}`);\nglobal.set(\"originNodered\", `${env.get('host_nodered')}:${env.get('port_nodered')}`);\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":160,"wires":[["7d755fb9.4c661"]]},{"id":"f8c389fd.dbace8","type":"http request","z":"196baabf.4631e5","name":"register","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":1260,"y":200,"wires":[["36ac8826.388c98"]]},{"id":"dcd88f77.e4da4","type":"function","z":"196baabf.4631e5","name":"register","func":"msg.method = 'POST';\n\n// msg.url = `${msg.originBob}/workspaces/main/artifacts/mqtt/operations/register/execute`;\nmsg.url = `${global.get(\"originBob\")}/workspaces/main/artifacts/mqtt/operations/register/execute`;\n\n// msg.payload = `[\\\"${msg.originNodered}/mqtt\\\"]`;\nmsg.payload = `[\\\"${global.get(\"originNodered\")}/mqtt\\\"]`;\n\nmsg.headers = {};\nmsg.headers['content-type'] = 'application/json';\nreturn msg\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1100,"y":200,"wires":[["f8c389fd.dbace8"]]},{"id":"36ac8826.388c98","type":"switch","z":"196baabf.4631e5","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"str"},{"t":"neq","v":"200","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":1410,"y":200,"wires":[["94ee0542.d5e2a8"],["377ffd3.03a3602"]]},{"id":"377ffd3.03a3602","type":"debug","z":"196baabf.4631e5","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1410,"y":260,"wires":[]},{"id":"94ee0542.d5e2a8","type":"function","z":"196baabf.4631e5","name":"focus","func":"msg.method = 'POST';\"\"\n\n// msg.url = `${msg.originBob}/agents/bob/inbox`;\nmsg.url = `${global.get(\"originBob\")}/agents/bob/inbox`;\n\nmsg.payload = `{ \\\"sender\\\": \\\"node_red\\\", \\\"receiver\\\": \\\"bob\\\", \\\"performative\\\": \\\"achieve\\\", \\\"content\\\": \\\"focus(mqtt,main)\\\", \\\"msgId\\\": \\\"13\\\"}`;\nmsg.headers = {};\nmsg.headers['content-type'] = 'application/json';\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1550,"y":200,"wires":[["b90f8a5d.7366b8"]]},{"id":"b90f8a5d.7366b8","type":"http request","z":"196baabf.4631e5","name":"focus","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":1690,"y":200,"wires":[["fa7995c9.813778"]]},{"id":"ef868b84.de9df8","type":"debug","z":"196baabf.4631e5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1970,"y":200,"wires":[]},{"id":"e1930da3.5a36f","type":"function","z":"196baabf.4631e5","name":"acl","func":"var literal = `message(\\\\\\\"${msg.payload}\\\\\\\")`;\nmsg.method = 'POST';\n\n// msg.url = `${msg.originAlice}/agents/alice/inbox`;\nmsg.url = `${global.get(\"originAlice\")}/agents/alice/inbox`;\n\nmsg.payload = `{ \\\"sender\\\": \\\"mqtt\\\", \\\"receiver\\\": \\\"alice\\\", \\\"performative\\\": \\\"signal\\\", \\\"content\\\": \\\"${literal}\\\", \\\"msgId\\\": \\\"13\\\"}`;\nmsg.headers = {};\nmsg.headers['content-type'] = 'application/json';\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":500,"wires":[["e38bddbb.3ddc9"]]},{"id":"e38bddbb.3ddc9","type":"http request","z":"196baabf.4631e5","name":"acl","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":550,"y":500,"wires":[["40ae7086.2c94e"]]},{"id":"40ae7086.2c94e","type":"switch","z":"196baabf.4631e5","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"neq","v":"200","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":690,"y":500,"wires":[["ad18081c.ced138"]]},{"id":"ad18081c.ced138","type":"debug","z":"196baabf.4631e5","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":850,"y":500,"wires":[]},{"id":"df74ad09.b59cd","type":"http request","z":"196baabf.4631e5","name":"obs prop","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":560,"y":380,"wires":[["fd8d4e85.6a4fe"]]},{"id":"604a5293.d18c8c","type":"function","z":"196baabf.4631e5","name":"obs prop","func":"msg.method = 'POST';\n\n// msg.url = `${msg.originBob}/workspaces/main/artifacts/mqtt/operations/doDefineObsProperty/execute`;\nmsg.url = `${global.get(\"originBob\")}/workspaces/main/artifacts/mqtt/operations/doDefineObsProperty/execute`;\n\nmsg.payload = `[\"message\", \\\"${msg.payload}\\\"]`;\nmsg.headers = {};\nmsg.headers['content-type'] = 'application/json';\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":380,"wires":[["df74ad09.b59cd"]]},{"id":"fd8d4e85.6a4fe","type":"switch","z":"196baabf.4631e5","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"neq","v":"200","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":710,"y":380,"wires":[["b61acc58.05226"]]},{"id":"b61acc58.05226","type":"debug","z":"196baabf.4631e5","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":850,"y":380,"wires":[]},{"id":"7d755fb9.4c661","type":"switch","z":"196baabf.4631e5","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"dummy","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":400,"y":160,"wires":[["331bcd7d.dcb282","e491a604.1aca08"]]},{"id":"fa7995c9.813778","type":"switch","z":"196baabf.4631e5","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"neq","v":"200","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1830,"y":200,"wires":[["ef868b84.de9df8"]]},{"id":"fd9aa66d.1b5918","type":"inject","z":"6d6426b.52961d8","name":"START DUMMIES","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"dummy","payload":"","payloadType":"date","x":190,"y":140,"wires":[["96b04e6c.ef8f5"]]},{"id":"96b04e6c.ef8f5","type":"subflow:196baabf.4631e5","z":"6d6426b.52961d8","name":"","env":[],"x":520,"y":140,"wires":[]},{"id":"9c02fac3.5f6cd8","type":"comment","z":"6d6426b.52961d8","name":"create dummies","info":"","x":180,"y":100,"wires":[]},{"id":"fe6c419a.29e08","type":"comment","z":"6d6426b.52961d8","name":"double click on the node below to configure it","info":"","x":530,"y":100,"wires":[]},{"id":"bb14e9e0.1b3198","type":"mqtt in","z":"196baabf.4631e5","name":"","topic":"mqtt/jacamo/bob","qos":"2","datatype":"auto","broker":"7d5786c9.7bf498","x":180,"y":380,"wires":[["604a5293.d18c8c"]]},{"id":"1cca907c.52013","type":"mqtt in","z":"196baabf.4631e5","name":"","topic":"mqtt/jacamo/alice","qos":"2","datatype":"auto","broker":"7d5786c9.7bf498","x":180,"y":500,"wires":[["e1930da3.5a36f"]]},{"id":"44912dc7.597de4","type":"comment","z":"196baabf.4631e5","name":"messages to bob","info":"","x":180,"y":340,"wires":[]},{"id":"51967614.4a38a8","type":"comment","z":"196baabf.4631e5","name":"messages to alice","info":"","x":190,"y":460,"wires":[]},{"id":"a7ee68c.8db8998","type":"mqtt out","z":"196baabf.4631e5","name":"","topic":"","qos":"2","retain":"","broker":"7d5786c9.7bf498","x":710,"y":700,"wires":[]},{"id":"bb16fe2.54977","type":"comment","z":"196baabf.4631e5","name":"mqtt server","info":"","x":720,"y":660,"wires":[]},{"id":"abdea099.f194","type":"http in","z":"196baabf.4631e5","name":"","url":"mqtt","method":"post","upload":false,"swaggerDoc":"","x":160,"y":700,"wires":[["d315680f.dcae48","e61935e1.9dc1c8"]]},{"id":"d315680f.dcae48","type":"switch","z":"196baabf.4631e5","name":"","property":"payload.functor","propertyType":"msg","rules":[{"t":"eq","v":"publish","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":310,"y":700,"wires":[["3c7f308a.2d096"],["2aa7e38c.70f17c"]]},{"id":"3c7f308a.2d096","type":"change","z":"196baabf.4631e5","name":"publish - bob","rules":[{"t":"set","p":"topic","pt":"msg","to":"payload.terms[0]","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"payload.terms[1]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":640,"wires":[["a7ee68c.8db8998"]]},{"id":"2aa7e38c.70f17c","type":"function","z":"196baabf.4631e5","name":"publish - alice","func":"var content = msg.payload.content.replace(/\\\"/g,'');\nvar functor = content.substring(0, content.search(\"\\\\(\"));\nvar args = content.substring(functor.length + 1, content.length - 1);\nvar s_args = args.split(\",\");\nmsg.topic = s_args[0];\nmsg.payload = s_args[1];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":760,"wires":[["a7ee68c.8db8998"]]},{"id":"e61935e1.9dc1c8","type":"http response","z":"196baabf.4631e5","name":"","statusCode":"","headers":{},"x":170,"y":760,"wires":[]},{"id":"ba240485.f0e508","type":"comment","z":"196baabf.4631e5","name":"dummies endpoint","info":"","x":190,"y":660,"wires":[]},{"id":"edf18f28.b63e4","type":"comment","z":"196baabf.4631e5","name":"create dummy agent","info":"","x":630,"y":80,"wires":[]},{"id":"9b7ce75c.e58b28","type":"comment","z":"196baabf.4631e5","name":"create dummy artifact","info":"","x":640,"y":240,"wires":[]}]